site_name: My Knowledge Base
theme:
  name: material
site_url: https://stone5656.github.io/My-Documents/    # 公開URL
repo_url: https://github.com/Stone5656/My-Documents     # リポジトリ

theme:
  name: material
  features:
  - navigation.tabs
  - navigation.sections
  - navigation.footer

markdown_extensions:
  - admonition
  - toc:
      permalink: true

plugins:
  - search
  - awesome-pages
